<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mympsamples.mapper.UsersMapper">

    <select id="selectByName" resultType="com.example.mympsamples.entity.Users">
        SELECT * FROM USERS WHERE USERNAME=#{name}
    </select>

    <update id="updateEnable">
         update users set enabled = #{enabled} where username = #{username};
    </update>
</mapper>
